__pycache__/agent.cpython-39.pyc
__pycache__/game.cpython-39.pyc
__pycache__/agent.cpython-39.pyc
__pycache__/agent.cpython-39.pyc
__pycache__/agent.cpython-39.pyc
__pycache__/agent.cpython-39.pyc
__pycache__/game_state.cpython-39.pyc
__pycache__/pos.cpython-39.pyc
__pycache__/units.cpython-39.pyc
\__pycache__
redis_utills/__pycache__/redis_cache.cpython-39.pyc
\run
run
__pycache__